/* font : Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.toggler-active {
  background-color: rgba(8, 116, 242, 0.05);
  border: 1px solid #0874f2;
}
.toggle-menue > div {
  cursor: pointer;
}
.toggle-menue > div:hover {
  background-color: rgba(8, 116, 242, 0.15);
  border: 1px solid #0874f2;
}
.active-toggler {
  background-color: rgba(8, 116, 242, 0.1);
  border: 1px solid #0874f2;
}
